Package: com.ioscreatix.sugarcane
Name: SugarCane
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Get percentages for the sliders in the Control Center on iOS 11 & 12
Maintainer: iOS Creatix, kasiimh1
Author: iOS Creatix, kasiimh1
Section: Tweaks
